In [1]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df

         Date          City  Temperature_C  Humidity_% Condition
0  01-01-2025      Hyderbad             28          60     Sunny
1  02-01-2025    Vijayawada             29          62     Sunny
2  03-01-2025  Viskhapatnam             30          58    Cloudy
3  04-01-2025      Kakinada             31          55    Cloudy
4  05-01-2025      Banglore             32          57     Rainy
5  06-01-2025        Mumbai             33          59     Rainy
6  07-01-2025       Chennai             34          61     Sunny
7  08-01-2025    Rajamundry             32          63    Cloudy
8  09-01-2025         Eluru             31          64     Rainy
9  10-01-2025    Anakapalli             29          62     Sunny

In [2]:
df.Temperature_C.min()

28

In [3]:
df.Temperature_C.max()

34

In [4]:
df.Temperature_C.mean()

np.float64(30.9)

In [5]:
df.Temperature_C.std()

1.911950719959998

In [6]:
df.Temperature_C.count()

np.int64(10)

In [7]:
df.Temperature_C.var()

3.6555555555555554

In [8]:
df.Temperature_C.sum()

np.int64(309)

In [9]:
df.Temperature_C.describe()

count    10.000000
mean     30.900000
std       1.911951
min      28.000000
25%      29.250000
50%      31.000000
75%      32.000000
max      34.000000
Name: Temperature_C, dtype: float64